
<div class="close-icon-container">
  <button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
</div>
<div style="z-index: 1500 !important;">
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="user.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" [(ngModel)]="user.phoneNumber" name="phoneNumber">
    </mat-form-field>

    <select (change)="onSelect($event)">
      <option value="Select a Status">Select a Status</option>
      <option *ngFor="let option of options" [value]="option">{{ option }}</option>
    </select>

    <button mat-button color="primary" (click)="saveData()">Save</button>
  </form>
</div>
