<div class="btn-block">
  <button (click)="logOut()" mat-button class="logOut">LogOut</button>
</div>
<div class="dashboard-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="z-index: 1;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user?.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let user">{{ user?.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let user">{{ user?.status }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let user">
        <button mat-raised-button color="primary" (click)="addDetails(user)">Add</button>
        <button mat-raised-button color="primary" (click)="editDetails(user)">Edit</button>
        <button mat-raised-button color="primary" (click)="removeUser(user)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


